In [2]:
# <Project or Analysis Title>
_Session Date: YYYY-MM-DD | Author: Brad Neiman_

**Goal:** <one-sentence goal for this notebook>

SyntaxError: invalid syntax (2027366984.py, line 2)

In [4]:
# Path safety: ensures all reads/writes go to top-level /data and /reports
import sys
from pathlib import Path
sys.path.append(str(Path.cwd().resolve().parents[0]))  # parent of /notebooks
from paths import data_path, report_path, print_layout
print_layout()

# Common imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3

PROJECT_ROOT: /Users/b-rad.j.neiman/CODE/diabetes-capstone
DATA_DIR    : /Users/b-rad.j.neiman/CODE/diabetes-capstone/data
REPORTS_DIR : /Users/b-rad.j.neiman/CODE/diabetes-capstone/reports

In [5]:
# Ensure common output subfolders exist
for sub in ["artifacts", "sql", "eda", "models"]:
    d = report_path(sub)
    d.mkdir(parents=True, exist_ok=True)

In [6]:
# Load dataset (replace filename if needed)
df = pd.read_csv(data_path("diabetes.csv"))
print("Rows:", len(df))
df.head()

Rows: 768

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
# Persistent Database Connection (project-level)
db_path = Path("../data/diabetes.db")
conn = sqlite3.connect(db_path)
print("âœ… Connected to persistent database", db_path)

# Optional: confirm tables
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)

âœ… Connected to persistent database ../data/diabetes.db

                name
0  diabetes_patients

In [8]:
# In-memory SQL engine for quick queries
con = sqlite3.connect(":memory:")
df.to_sql("diabetes", con, index=False, if_exists="replace")

# Example query
pd.read_sql_query("SELECT COUNT(*) AS n_rows FROM diabetes;", con)

   n_rows
0     768

In [9]:
# Example: Save sample output to /reports/
df.head(10).to_csv(report_path("artifacts/sample_head10.csv"), index=False)
print("Saved ->", report_path("artifacts/sample_head10.csv"))

Saved -> /Users/b-rad.j.neiman/CODE/diabetes-capstone/reports/artifacts/sample_head10.csv

In [10]:
# Cleanup
conn.close()
con.close()
print("ðŸ”’ All connections closed.")

ðŸ”’ All connections closed.

In [11]:
## Results
- <1â€“2 bullets summarizing findings>

## Next
- <Next concrete action or experiment>

SyntaxError: invalid character 'â€“' (U+2013) (479866911.py, line 2)